@{
    ViewBag.Title = "AdopciónPG";
}

<div class="jumbotron" style="background-color:#e9c46a; color:black">
    <h1 style="color:darkblue">Adopción PG</h1>
    <p class="lead">
        Millones de animales no tienen un hogar y todos los días esperan a esa familia mágica que los quiera de la manera correcta.
        Tener una mascota en casa es una gran responsabilidad, no solo se trata de alimentarla, asearla y sacarla a pasear, además es fundamental entrenarla y darle mucho amor.
    </p>
    <p><iframe style="margin-left:20%" width="560" height="315" src="https://www.youtube.com/embed/dzXoDPp8KeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2 style="color:cornflowerblue">Adoptante</h2>
        <p>
            Brindale todo tu amor a este nuevo miembro de tu familia, que el te llenara de felicidad.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir a la tabla", "Index", "adoptantes")</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="color:cornflowerblue">Facilitador</h2>
        <p>Gracias por ayudar a nuestras mascotas a encontrar un hogar, seguramente nunca te olvidaran.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir a la tabla", "Index", "facilitadors")</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="color:cornflowerblue">Mascota</h2>
        <p>Nos has enseñado y enseñaras a muchos más que la lealtad y la gratitud son valores que le hemos restado importancia.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir a la tabla", "Index", "mascotas")</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="color:cornflowerblue">Seguimiento</h2>
        <p>Desvincularnos no es una opción, te seguiremos de cerca aunque estes lejos.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir a la tabla", "Index", "Seguimientoes")</a></p>
    </div>
</div>